<div>
   <h2>Dashboard: Your Posts</h2><hr>

    <a href="/dashboard/create">
    <button id="create-post" class="btn btn-primary">Create Post</button></a><hr> 
    {{#if posts.length}}
</div>

<div>
{{#each posts as |post|}}
{{> post-info post}}
    <a href="/dashboard/edit/{{post.id}}">
    <button class="btn btn-dark">Edit</button></a>
{{/each}}

{{else}}
    <h4>You do not currently have any posts right now.</h4>
{{/if}}
</div>